## Importação das bibliotecas e base de dados

Base de dados:

ANEEL*: https://dadosabertos.aneel.gov.br/pt_BR/dataset/relacao-de-empreendimentos-de-geracao-distribuida/resource/b1bd71e7-d0ad-4214-9053-cbd58e9564a7

*Download feito no dia 14/07/23 (dados referentes a este dia)

IBGE: https://www.ibge.gov.br/estatisticas/sociais/populacao/22827-censo-demografico-2022.html?edicao=37225&t=resultados

In [1]:
import pandas as pd
from unidecode import unidecode
import psycopg2

In [2]:
pd.set_option('display.max_columns', None)

### Carregamento de Dados da ANEEL

In [3]:
df_aneel = pd.read_csv("empreendimento-geracao-distribuida.csv", encoding='latin1', delimiter=';')
df_aneel.head()

C:\Users\Carlos\AppData\Local\Temp\ipykernel_18048\2508403258.py:1: DtypeWarning: Columns (30,31,32) have mixed types. Specify dtype option on import or set low_memory=False.
  df_aneel = pd.read_csv("empreendimento-geracao-distribuida.csv", encoding='latin1', delimiter=';')

,DatGeracaoConjuntoDados,AnmPeriodoReferencia,NumCNPJDistribuidora,SigAgente,NomAgente,CodClasseConsumo,DscClasseConsumo,CodSubGrupoTarifario,DscSubGrupoTarifario,codUFibge,SigUF,codRegiao,NomRegiao,CodMunicipioIbge,NomMunicipio,CodCEP,SigTipoConsumidor,NumCPFCNPJ,NomeTitularEmpreendimento,CodEmpreendimento,DthAtualizaCadastralEmpreend,SigModalidadeEmpreendimento,DscModalidadeHabilitado,QtdUCRecebeCredito,SigTipoGeracao,DscFonteGeracao,DscPorte,MdaPotenciaInstaladaKW,NumCoordNEmpreendimento,NumCoordEEmpreendimento,NomSubEstacao,NumCoordESub,NumCoordNSub
0,2023-07-14,07/2023,3.305020e+13,CPFL-PAULISTA,COMPANHIA PAULISTA DE FORÇA E LUZ,1,Residencial,9,B1,35.0,SP,3501.0,Sudeste,3533007.0,Nova Granada,15440***,PF,***.497.808-**,***,NaN,2023-01-23,P,Com Microgeracao ou Minigeracao distribuida,1,UFV,Radiação solar,Microgeracao,"3,30",NaN,NaN,NaN,NaN,NaN
1,2023-07-14,07/2023,4.065033e+12,ELETROACRE,ENERGISA ACRE - DISTRIBUIDORA DE ENERGIA S.A,2,Comercial,11,B3,12.0,AC,1202.0,Norte,1200401.0,Rio Branco,69912452,PJ,12005360000165,ELITE ENGENHARIA LTDA,GD.AC.000.000.590,2015-07-15,P,Com Microgeracao ou Minigeracao distribuida,1,UFV,Radiação solar,Microgeracao,"32,50","-67,85","-9,96",NaN,NaN,NaN
2,2023-07-14,07/2023,4.065033e+12,ELETROACRE,ENERGISA ACRE - DISTRIBUIDORA DE ENERGIA S.A,1,Residencial,9,B1,12.0,AC,1201.0,Norte,1200609.0,Tarauacá,69970***,PF,***.582.542-**,***,GD.AC.000.000.591,2015-04-20,P,Com Microgeracao ou Minigeracao distribuida,1,UFV,Radiação solar,Microgeracao,"4,00","-70,78","-8,15",NaN,NaN,NaN
3,2023-07-14,07/2023,4.065033e+12,ELETROACRE,ENERGISA ACRE - DISTRIBUIDORA DE ENERGIA S.A,2,Comercial,11,B3,12.0,AC,1202.0,Norte,1200401.0,Rio Branco,69900273,PJ,05458883000100,ADVOCACIA PALÁCIO DANTAS,GD.AC.000.001.540,2015-06-22,P,Com Microgeracao ou Minigeracao distribuida,1,UFV,Radiação solar,Microgeracao,"2,00",NaN,NaN,NaN,NaN,NaN
4,2023-07-14,07/2023,4.065033e+12,ELETROACRE,ENERGISA ACRE - DISTRIBUIDORA DE ENERGIA S.A,1,Residencial,9,B1,12.0,AC,1202.0,Norte,1200401.0,Rio Branco,69919***,PF,***.754.418-**,***,GD.AC.000.001.552,2016-08-25,P,Com Microgeracao ou Minigeracao distribuida,1,UFV,Radiação solar,Microgeracao,"2,00","-67,86","-9,95",NaN,NaN,NaN

In [4]:
df_aneel.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2038041 entries, 0 to 2038040
Data columns (total 33 columns):
 #   Column                        Dtype
---  ------                        -----
 0   DatGeracaoConjuntoDados       object
 1   AnmPeriodoReferencia          object
 2   NumCNPJDistribuidora          float64
 3   SigAgente                     object
 4   NomAgente                     object
 5   CodClasseConsumo              int64
 6   DscClasseConsumo              object
 7   CodSubGrupoTarifario          int64
 8   DscSubGrupoTarifario          object
 9   codUFibge                     float64
 10  SigUF                         object
 11  codRegiao                     float64
 12  NomRegiao                     object
 13  CodMunicipioIbge              float64
 14  NomMunicipio                  object
 15  CodCEP                        object
 16  SigTipoConsumidor             object
 17  NumCPFCNPJ                    object
 18  NomeTitularEmpreendimento     object
 19  CodEmpreendimento             object
 20  DthAtualizaCadastralEmpreend  object
 21  SigModalidadeEmpreendimento   object
 22  DscModalidadeHabilitado       object
 23  QtdUCRecebeCredito            int64
 24  SigTipoGeracao                object
 25  DscFonteGeracao               object
 26  DscPorte                      object
 27  MdaPotenciaInstaladaKW        object
 28  NumCoordNEmpreendimento       object
 29  NumCoordEEmpreendimento       object
 30  NomSubEstacao                 object
 31  NumCoordESub                  object
 32  NumCoordNSub                  object
dtypes: float64(4), int64(3), object(26)
memory usage: 513.1+ MB

In [5]:
df_aneel.isnull().sum()

DatGeracaoConjuntoDados               0
AnmPeriodoReferencia                  0
NumCNPJDistribuidora                138
SigAgente                           138
NomAgente                           138
CodClasseConsumo                      0
DscClasseConsumo                      0
CodSubGrupoTarifario                  0
DscSubGrupoTarifario                  0
codUFibge                          4120
SigUF                               180
codRegiao                          4120
NomRegiao                             0
CodMunicipioIbge                    180
NomMunicipio                        180
CodCEP                                2
SigTipoConsumidor                     2
NumCPFCNPJ                            2
NomeTitularEmpreendimento             9
CodEmpreendimento                     1
DthAtualizaCadastralEmpreend          0
SigModalidadeEmpreendimento           0
DscModalidadeHabilitado             181
QtdUCRecebeCredito                    0
SigTipoGeracao                        0
DscFonteGeracao                       0
DscPorte                              0
MdaPotenciaInstaladaKW                0
NumCoordNEmpreendimento         1862015
NumCoordEEmpreendimento         1862015
NomSubEstacao                   2026209
NumCoordESub                    2026209
NumCoordNSub                    2026209
dtype: int64

### Análise, Limpeza e Tratamento de Dados da ANEEL

In [6]:
df_aneel.drop(['DatGeracaoConjuntoDados',
         'AnmPeriodoReferencia',
         'NumCNPJDistribuidora',
         'NomAgente',
         'CodClasseConsumo',
         'CodSubGrupoTarifario',
         'codUFibge',
         'codRegiao',
         'CodMunicipioIbge',
         'CodCEP',
         'NumCPFCNPJ',
         'NomeTitularEmpreendimento',
         'CodEmpreendimento',
         'NumCoordNEmpreendimento',
         'NumCoordEEmpreendimento',
         'NomSubEstacao',
         'NumCoordESub',
         'NumCoordNSub'],axis=1,inplace=True)

In [7]:
df_aneel.head()

,SigAgente,DscClasseConsumo,DscSubGrupoTarifario,SigUF,NomRegiao,NomMunicipio,SigTipoConsumidor,DthAtualizaCadastralEmpreend,SigModalidadeEmpreendimento,DscModalidadeHabilitado,QtdUCRecebeCredito,SigTipoGeracao,DscFonteGeracao,DscPorte,MdaPotenciaInstaladaKW
0,CPFL-PAULISTA,Residencial,B1,SP,Sudeste,Nova Granada,PF,2023-01-23,P,Com Microgeracao ou Minigeracao distribuida,1,UFV,Radiação solar,Microgeracao,"3,30"
1,ELETROACRE,Comercial,B3,AC,Norte,Rio Branco,PJ,2015-07-15,P,Com Microgeracao ou Minigeracao distribuida,1,UFV,Radiação solar,Microgeracao,"32,50"
2,ELETROACRE,Residencial,B1,AC,Norte,Tarauacá,PF,2015-04-20,P,Com Microgeracao ou Minigeracao distribuida,1,UFV,Radiação solar,Microgeracao,"4,00"
3,ELETROACRE,Comercial,B3,AC,Norte,Rio Branco,PJ,2015-06-22,P,Com Microgeracao ou Minigeracao distribuida,1,UFV,Radiação solar,Microgeracao,"2,00"
4,ELETROACRE,Residencial,B1,AC,Norte,Rio Branco,PF,2016-08-25,P,Com Microgeracao ou Minigeracao distribuida,1,UFV,Radiação solar,Microgeracao,"2,00"

In [8]:
df_aneel.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2038041 entries, 0 to 2038040
Data columns (total 15 columns):
 #   Column                        Dtype
---  ------                        -----
 0   SigAgente                     object
 1   DscClasseConsumo              object
 2   DscSubGrupoTarifario          object
 3   SigUF                         object
 4   NomRegiao                     object
 5   NomMunicipio                  object
 6   SigTipoConsumidor             object
 7   DthAtualizaCadastralEmpreend  object
 8   SigModalidadeEmpreendimento   object
 9   DscModalidadeHabilitado       object
 10  QtdUCRecebeCredito            int64
 11  SigTipoGeracao                object
 12  DscFonteGeracao               object
 13  DscPorte                      object
 14  MdaPotenciaInstaladaKW        object
dtypes: int64(1), object(14)
memory usage: 233.2+ MB

In [9]:
df_aneel.isnull().sum()

SigAgente                       138
DscClasseConsumo                  0
DscSubGrupoTarifario              0
SigUF                           180
NomRegiao                         0
NomMunicipio                    180
SigTipoConsumidor                 2
DthAtualizaCadastralEmpreend      0
SigModalidadeEmpreendimento       0
DscModalidadeHabilitado         181
QtdUCRecebeCredito                0
SigTipoGeracao                    0
DscFonteGeracao                   0
DscPorte                          0
MdaPotenciaInstaladaKW            0
dtype: int64

In [10]:
df_aneel = df_aneel.dropna(subset=None)

In [11]:
df_aneel.isnull().sum()

SigAgente                       0
DscClasseConsumo                0
DscSubGrupoTarifario            0
SigUF                           0
NomRegiao                       0
NomMunicipio                    0
SigTipoConsumidor               0
DthAtualizaCadastralEmpreend    0
SigModalidadeEmpreendimento     0
DscModalidadeHabilitado         0
QtdUCRecebeCredito              0
SigTipoGeracao                  0
DscFonteGeracao                 0
DscPorte                        0
MdaPotenciaInstaladaKW          0
dtype: int64

In [12]:
contagem = df_aneel['SigAgente'].value_counts()
contagem

CEMIG-D                230087
RGE SUL                201768
COPEL-DIS              171620
CPFL-PAULISTA          144606
COELBA                 109188
                        ...
CPFL Leste Paulista        16
CODESAM                    10
CPFL Mococa                 9
CPFL Sul Paulista           8
CERAL ARAPOTI               4
Name: SigAgente, Length: 109, dtype: int64

In [13]:
def remover_acentos(texto):
    return unidecode(texto)

df_aneel['SigAgente'] = df_aneel['SigAgente'].apply(lambda x: remover_acentos(x))

C:\Users\Carlos\AppData\Local\Temp\ipykernel_18048\27707375.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_aneel['SigAgente'] = df_aneel['SigAgente'].apply(lambda x: remover_acentos(x))

In [14]:
contagem = df_aneel['DscClasseConsumo'].value_counts()
contagem

Residencial           1599832
Comercial              220403
Rural                  177880
Industrial              33564
Poder Público            5493
Serviço Público           259
Iluminação pública        109
Name: DscClasseConsumo, dtype: int64

In [15]:
def remover_acentos(texto):
    return unidecode(texto)

df_aneel['DscClasseConsumo'] = df_aneel['DscClasseConsumo'].apply(lambda x: remover_acentos(x))

C:\Users\Carlos\AppData\Local\Temp\ipykernel_18048\357222649.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_aneel['DscClasseConsumo'] = df_aneel['DscClasseConsumo'].apply(lambda x: remover_acentos(x))

In [16]:
contagem = df_aneel['DscSubGrupoTarifario'].value_counts()
contagem

B1     1586875
B3      241252
B2      179978
A4       23277
A3a       2003
AS        1585
A1        1166
A3         785
B4         463
A2         156
Name: DscSubGrupoTarifario, dtype: int64

In [17]:
contagem = df_aneel['SigUF'].value_counts()
contagem

SP    329339
RS    256875
MG    250651
PR    174836
BA    109220
RJ     97784
MT     91063
GO     87812
SC     80932
MS     76228
CE     63682
PE     62722
PA     57501
RN     47091
ES     39502
PI     38139
MA     37959
TO     29003
PB     24881
AL     20644
RO     17669
DF     16564
SE     10633
AM      7318
AC      4811
AP      2709
RR      1972
Name: SigUF, dtype: int64

In [18]:
contagem = df_aneel['NomRegiao'].value_counts()
contagem

Sudeste         717276
Sul             512643
Nordeste        414971
Centro Oeste    271667
Norte           120983
Name: NomRegiao, dtype: int64

In [19]:
contagem = df_aneel['NomMunicipio'].value_counts()
contagem

Florianópolis     37557
Campo Grande      22989
Rio de Janeiro    19698
Cuiabá            18659
Teresina          18354
                  ...
Fonte Boa             1
Tapauá                1
Silves                1
Caapiranga            1
Itaubal               1
Name: NomMunicipio, Length: 5260, dtype: int64

In [20]:
def remover_acentos(texto):
    return unidecode(texto)

df_aneel['NomMunicipio'] = df_aneel['NomMunicipio'].apply(lambda x: remover_acentos(x))

C:\Users\Carlos\AppData\Local\Temp\ipykernel_18048\2864776957.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_aneel['NomMunicipio'] = df_aneel['NomMunicipio'].apply(lambda x: remover_acentos(x))

In [21]:
df_aneel['NomMunicipio'] = df_aneel['NomMunicipio'].str.replace(r"D'", "d'")

C:\Users\Carlos\AppData\Local\Temp\ipykernel_18048\1681013807.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_aneel['NomMunicipio'] = df_aneel['NomMunicipio'].str.replace(r"D'", "d'")

In [22]:
def formatar_municipio(row):
    return f"{row['NomMunicipio']} ({row['SigUF']})"

In [23]:
df_aneel['municipiouf'] = df_aneel.apply(formatar_municipio, axis=1)

C:\Users\Carlos\AppData\Local\Temp\ipykernel_18048\1136886589.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_aneel['municipiouf'] = df_aneel.apply(formatar_municipio, axis=1)

In [24]:
contagem = df_aneel['municipiouf'].value_counts()
contagem

Florianopolis (SC)     37557
Campo Grande (MS)      22922
Rio de Janeiro (RJ)    19698
Cuiaba (MT)            18659
Teresina (PI)          18354
                       ...
Luis Domingues (MA)        1
Fonte Boa (AM)             1
Uarini (AM)                1
Beruri (AM)                1
Arapei (SP)                1
Name: municipiouf, Length: 5532, dtype: int64

In [25]:
df_aneel.head()

,SigAgente,DscClasseConsumo,DscSubGrupoTarifario,SigUF,NomRegiao,NomMunicipio,SigTipoConsumidor,DthAtualizaCadastralEmpreend,SigModalidadeEmpreendimento,DscModalidadeHabilitado,QtdUCRecebeCredito,SigTipoGeracao,DscFonteGeracao,DscPorte,MdaPotenciaInstaladaKW,municipiouf
0,CPFL-PAULISTA,Residencial,B1,SP,Sudeste,Nova Granada,PF,2023-01-23,P,Com Microgeracao ou Minigeracao distribuida,1,UFV,Radiação solar,Microgeracao,"3,30",Nova Granada (SP)
1,ELETROACRE,Comercial,B3,AC,Norte,Rio Branco,PJ,2015-07-15,P,Com Microgeracao ou Minigeracao distribuida,1,UFV,Radiação solar,Microgeracao,"32,50",Rio Branco (AC)
2,ELETROACRE,Residencial,B1,AC,Norte,Tarauaca,PF,2015-04-20,P,Com Microgeracao ou Minigeracao distribuida,1,UFV,Radiação solar,Microgeracao,"4,00",Tarauaca (AC)
3,ELETROACRE,Comercial,B3,AC,Norte,Rio Branco,PJ,2015-06-22,P,Com Microgeracao ou Minigeracao distribuida,1,UFV,Radiação solar,Microgeracao,"2,00",Rio Branco (AC)
4,ELETROACRE,Residencial,B1,AC,Norte,Rio Branco,PF,2016-08-25,P,Com Microgeracao ou Minigeracao distribuida,1,UFV,Radiação solar,Microgeracao,"2,00",Rio Branco (AC)

In [26]:
num_valores_diferentes = df_aneel['NomMunicipio'].nunique()
num_valores_diferentes

5252

In [27]:
num_valores_diferentes = df_aneel['municipiouf'].nunique()
num_valores_diferentes

5532

In [28]:
df_aneel = df_aneel.drop(['NomMunicipio','SigUF','NomRegiao'], axis=1)

In [29]:
df_aneel = df_aneel[['SigAgente',
         'DscClasseConsumo',
         'DscSubGrupoTarifario',
         'municipiouf',
         'SigTipoConsumidor',
         'DthAtualizaCadastralEmpreend',
         'SigModalidadeEmpreendimento',
         'DscModalidadeHabilitado',
         'QtdUCRecebeCredito',
         'SigTipoGeracao',
         'DscFonteGeracao',
         'DscPorte',
         'MdaPotenciaInstaladaKW']]

In [30]:
df_aneel.head()

,SigAgente,DscClasseConsumo,DscSubGrupoTarifario,municipiouf,SigTipoConsumidor,DthAtualizaCadastralEmpreend,SigModalidadeEmpreendimento,DscModalidadeHabilitado,QtdUCRecebeCredito,SigTipoGeracao,DscFonteGeracao,DscPorte,MdaPotenciaInstaladaKW
0,CPFL-PAULISTA,Residencial,B1,Nova Granada (SP),PF,2023-01-23,P,Com Microgeracao ou Minigeracao distribuida,1,UFV,Radiação solar,Microgeracao,"3,30"
1,ELETROACRE,Comercial,B3,Rio Branco (AC),PJ,2015-07-15,P,Com Microgeracao ou Minigeracao distribuida,1,UFV,Radiação solar,Microgeracao,"32,50"
2,ELETROACRE,Residencial,B1,Tarauaca (AC),PF,2015-04-20,P,Com Microgeracao ou Minigeracao distribuida,1,UFV,Radiação solar,Microgeracao,"4,00"
3,ELETROACRE,Comercial,B3,Rio Branco (AC),PJ,2015-06-22,P,Com Microgeracao ou Minigeracao distribuida,1,UFV,Radiação solar,Microgeracao,"2,00"
4,ELETROACRE,Residencial,B1,Rio Branco (AC),PF,2016-08-25,P,Com Microgeracao ou Minigeracao distribuida,1,UFV,Radiação solar,Microgeracao,"2,00"

In [31]:
contagem = df_aneel['SigTipoConsumidor'].value_counts()
contagem

PF    1832785
PJ     204755
Name: SigTipoConsumidor, dtype: int64

In [32]:
contagem = df_aneel['SigModalidadeEmpreendimento'].value_counts()
contagem

P    1676036
R     354758
C       6431
M        315
Name: SigModalidadeEmpreendimento, dtype: int64

In [33]:
contagem = df_aneel['DscModalidadeHabilitado'].value_counts()
contagem

Com Microgeracao ou Minigeracao distribuida     1676036
Caracterizada como Autoconsumo remoto            354758
Caracterizada como Geracao compartilhada           6431
Integrante de empreendimento de Multiplas UC        315
Name: DscModalidadeHabilitado, dtype: int64

In [34]:
contagem = df_aneel['SigTipoGeracao'].value_counts()
contagem

UFV    2036843
UTE        522
EOL         96
CGH         79
Name: SigTipoGeracao, dtype: int64

In [35]:
contagem = df_aneel['DscFonteGeracao'].value_counts()
contagem

Radiação solar                   2036843
Biogás - RA                          336
Cinética do vento                     96
Biogás - RU                           82
Potencial hidráulico                  79
Biogás-AGR                            35
Bagaço de Cana de Açúcar              16
Biogás - Floresta                     16
Gás Natural                           12
Gás de Alto Forno - Biomassa           7
Resíduos Florestais                    7
Resíduos Sólidos Urbanos - RU          5
Casca de Arroz                         5
Lenha                                  1
Name: DscFonteGeracao, dtype: int64

In [36]:
def remover_acentos(texto):
    return unidecode(texto)

df_aneel['DscFonteGeracao'] = df_aneel['DscFonteGeracao'].apply(lambda x: remover_acentos(x))

In [37]:
contagem = df_aneel['DscPorte'].value_counts()
contagem

Microgeracao    2026451
Minigeracao       11089
Name: DscPorte, dtype: int64

In [38]:
df_aneel.head()

,SigAgente,DscClasseConsumo,DscSubGrupoTarifario,municipiouf,SigTipoConsumidor,DthAtualizaCadastralEmpreend,SigModalidadeEmpreendimento,DscModalidadeHabilitado,QtdUCRecebeCredito,SigTipoGeracao,DscFonteGeracao,DscPorte,MdaPotenciaInstaladaKW
0,CPFL-PAULISTA,Residencial,B1,Nova Granada (SP),PF,2023-01-23,P,Com Microgeracao ou Minigeracao distribuida,1,UFV,Radiacao solar,Microgeracao,"3,30"
1,ELETROACRE,Comercial,B3,Rio Branco (AC),PJ,2015-07-15,P,Com Microgeracao ou Minigeracao distribuida,1,UFV,Radiacao solar,Microgeracao,"32,50"
2,ELETROACRE,Residencial,B1,Tarauaca (AC),PF,2015-04-20,P,Com Microgeracao ou Minigeracao distribuida,1,UFV,Radiacao solar,Microgeracao,"4,00"
3,ELETROACRE,Comercial,B3,Rio Branco (AC),PJ,2015-06-22,P,Com Microgeracao ou Minigeracao distribuida,1,UFV,Radiacao solar,Microgeracao,"2,00"
4,ELETROACRE,Residencial,B1,Rio Branco (AC),PF,2016-08-25,P,Com Microgeracao ou Minigeracao distribuida,1,UFV,Radiacao solar,Microgeracao,"2,00"

In [39]:
df_aneel.tail()

,SigAgente,DscClasseConsumo,DscSubGrupoTarifario,municipiouf,SigTipoConsumidor,DthAtualizaCadastralEmpreend,SigModalidadeEmpreendimento,DscModalidadeHabilitado,QtdUCRecebeCredito,SigTipoGeracao,DscFonteGeracao,DscPorte,MdaPotenciaInstaladaKW
2038036,ETO,Residencial,B1,Itapora do Tocantins (TO),PF,2023-07-05,R,Caracterizada como Autoconsumo remoto,2,UFV,Radiacao solar,Microgeracao,"6,00"
2038037,ETO,Residencial,B1,Pedro Afonso (TO),PF,2023-07-05,P,Com Microgeracao ou Minigeracao distribuida,1,UFV,Radiacao solar,Microgeracao,"20,00"
2038038,ETO,Residencial,B1,Paraiso do Tocantins (TO),PF,2023-07-05,P,Com Microgeracao ou Minigeracao distribuida,1,UFV,Radiacao solar,Microgeracao,"5,00"
2038039,ETO,Residencial,B1,Araguaina (TO),PF,2023-07-04,P,Com Microgeracao ou Minigeracao distribuida,1,UFV,Radiacao solar,Microgeracao,"6,00"
2038040,ETO,Comercial,B3,Palmas (TO),PJ,2023-07-05,P,Com Microgeracao ou Minigeracao distribuida,1,UFV,Radiacao solar,Microgeracao,"50,00"

In [40]:
df_aneel['MdaPotenciaInstaladaKW'] = df_aneel['MdaPotenciaInstaladaKW'].str.replace(',', '.')

In [41]:
df_aneel.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2037540 entries, 0 to 2038040
Data columns (total 13 columns):
 #   Column                        Dtype
---  ------                        -----
 0   SigAgente                     object
 1   DscClasseConsumo              object
 2   DscSubGrupoTarifario          object
 3   municipiouf                   object
 4   SigTipoConsumidor             object
 5   DthAtualizaCadastralEmpreend  object
 6   SigModalidadeEmpreendimento   object
 7   DscModalidadeHabilitado       object
 8   QtdUCRecebeCredito            int64
 9   SigTipoGeracao                object
 10  DscFonteGeracao               object
 11  DscPorte                      object
 12  MdaPotenciaInstaladaKW        object
dtypes: int64(1), object(12)
memory usage: 217.6+ MB

In [42]:
df_aneel.head()

,SigAgente,DscClasseConsumo,DscSubGrupoTarifario,municipiouf,SigTipoConsumidor,DthAtualizaCadastralEmpreend,SigModalidadeEmpreendimento,DscModalidadeHabilitado,QtdUCRecebeCredito,SigTipoGeracao,DscFonteGeracao,DscPorte,MdaPotenciaInstaladaKW
0,CPFL-PAULISTA,Residencial,B1,Nova Granada (SP),PF,2023-01-23,P,Com Microgeracao ou Minigeracao distribuida,1,UFV,Radiacao solar,Microgeracao,3.30
1,ELETROACRE,Comercial,B3,Rio Branco (AC),PJ,2015-07-15,P,Com Microgeracao ou Minigeracao distribuida,1,UFV,Radiacao solar,Microgeracao,32.50
2,ELETROACRE,Residencial,B1,Tarauaca (AC),PF,2015-04-20,P,Com Microgeracao ou Minigeracao distribuida,1,UFV,Radiacao solar,Microgeracao,4.00
3,ELETROACRE,Comercial,B3,Rio Branco (AC),PJ,2015-06-22,P,Com Microgeracao ou Minigeracao distribuida,1,UFV,Radiacao solar,Microgeracao,2.00
4,ELETROACRE,Residencial,B1,Rio Branco (AC),PF,2016-08-25,P,Com Microgeracao ou Minigeracao distribuida,1,UFV,Radiacao solar,Microgeracao,2.00

### Carregamento de Dados do IBGE

In [44]:
df_ibge = pd.read_excel('tabela_populacao_domicilio_ibge.xlsx')
df_ibge.head()

                    Municipio  Populacao  Domicilios
0  Alta Floresta D'Oeste (RO)      21495       10081
1              Ariquemes (RO)      96833       44157
2                 Cabixi (RO)       5363        2927
3                 Cacoal (RO)      86895       40932
4             Cerejeiras (RO)      15890        7069

In [45]:
df_ibge.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5570 entries, 0 to 5569
Data columns (total 3 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Municipio   5570 non-null   object
 1   Populacao   5570 non-null   int64
 2   Domicilios  5570 non-null   int64
dtypes: int64(2), object(1)
memory usage: 130.7+ KB

In [46]:
df_ibge.isnull().sum()

Municipio     0
Populacao     0
Domicilios    0
dtype: int64

### Análise, Limpeza e Tratamento de Dados do IBGE

In [48]:
def remover_acentos(texto):
    return unidecode(texto)

df_ibge['Municipio'] = df_ibge['Municipio'].apply(lambda x: remover_acentos(x))

In [49]:
df_ibge.head()

                    Municipio  Populacao  Domicilios
0  Alta Floresta D'Oeste (RO)      21495       10081
1              Ariquemes (RO)      96833       44157
2                 Cabixi (RO)       5363        2927
3                 Cacoal (RO)      86895       40932
4             Cerejeiras (RO)      15890        7069

In [50]:
df_ibge['Municipio'] = df_ibge['Municipio'].str.replace(r"D'", "d'")

In [51]:
df_ibge['UF'] = df_ibge['Municipio'].str.extract(r'\((\w\w)\)')

In [52]:
regiao_map = {
    'Sul': ['RS', 'SC', 'PR'],
    'Sudeste': ['SP', 'RJ', 'MG', 'ES'],
    'Centro Oeste': ['MT', 'MS', 'GO', 'DF'],
    'Nordeste': ['BA', 'SE', 'AL', 'PE', 'PB', 'RN', 'CE', 'PI', 'MA'],
    'Norte': ['AM', 'RR', 'AP', 'PA', 'TO', 'RO', 'AC']
}

In [53]:
df_ibge['Regiao'] = df_ibge['UF'].map({uf: regiao for regiao, ufs in regiao_map.items() for uf in ufs})

In [54]:
df_ibge.head()

                    Municipio  Populacao  Domicilios  UF Regiao
0  Alta Floresta d'Oeste (RO)      21495       10081  RO  Norte
1              Ariquemes (RO)      96833       44157  RO  Norte
2                 Cabixi (RO)       5363        2927  RO  Norte
3                 Cacoal (RO)      86895       40932  RO  Norte
4             Cerejeiras (RO)      15890        7069  RO  Norte

In [55]:
lista_municipios_aneel = df_aneel['municipiouf'].unique()
lista_municipios_aneel

array(['Nova Granada (SP)', 'Rio Branco (AC)', 'Tarauaca (AC)', ...,
       'Juarina (TO)', 'Centenario (TO)', 'Chapada de Areia (TO)'],
      dtype=object)

In [56]:
df_municipio_aneel = pd.DataFrame({'nome': lista_municipios_aneel})
df_municipio_aneel.describe()

                     nome
count                5532
unique               5532
top     Nova Granada (SP)
freq                    1

In [57]:
municipios_join = df_ibge['Municipio'].isin(df_municipio_aneel['nome'])

In [58]:
municipios_join.describe()

count     5570
unique       2
top       True
freq      5508
Name: Municipio, dtype: object

In [59]:
municipios_final = df_municipio_aneel.merge(df_ibge, left_on='nome', right_on='Municipio',how='outer')

In [60]:
municipios_final.sort_values(by='nome', na_position='last', inplace=True)
municipios_final

,nome,Municipio,Populacao,Domicilios,UF,Regiao
885,Abadia de Goias (GO),Abadia de Goias (GO),19128.0,7866.0,GO,Centro Oeste
1901,Abadia dos Dourados (MG),Abadia dos Dourados (MG),6272.0,3477.0,MG,Sudeste
927,Abadiania (GO),Abadiania (GO),17228.0,10301.0,GO,Centro Oeste
1460,Abaete (MG),Abaete (MG),22675.0,12156.0,MG,Sudeste
2408,Abaetetuba (PA),Abaetetuba (PA),158188.0,51416.0,PA,Norte
...,...,...,...,...,...,...
5589,NaN,Grao-Para (SC),6277.0,2669.0,SC,Sul
5590,NaN,Pescaria Brava (SC),10190.0,4422.0,SC,Sul
5591,NaN,Balneario Rincao (SC),15981.0,15712.0,SC,Sul
5592,NaN,Sant'Ana do Livramento (RS),84421.0,37350.0,RS,Sul
5593,NaN,Bom Jesus de Goias (GO),23958.0,9982.0,GO,Centro Oeste

In [61]:
municipios_final.sort_values(by='Municipio', na_position='last', inplace=True)
municipios_final

,nome,Municipio,Populacao,Domicilios,UF,Regiao
885,Abadia de Goias (GO),Abadia de Goias (GO),19128.0,7866.0,GO,Centro Oeste
1901,Abadia dos Dourados (MG),Abadia dos Dourados (MG),6272.0,3477.0,MG,Sudeste
927,Abadiania (GO),Abadiania (GO),17228.0,10301.0,GO,Centro Oeste
1460,Abaete (MG),Abaete (MG),22675.0,12156.0,MG,Sudeste
2408,Abaetetuba (PA),Abaetetuba (PA),158188.0,51416.0,PA,Norte
...,...,...,...,...,...,...
3913,Santana do Livramento (RS),NaN,NaN,NaN,NaN,NaN
1325,Sao Thome das Letras (MG),NaN,NaN,NaN,NaN,NaN
5474,Sao Valerio da Natividade (TO),NaN,NaN,NaN,NaN,NaN
2140,Sem Peixe (MG),NaN,NaN,NaN,NaN,NaN
1913,Silverania (MG),NaN,NaN,NaN,NaN,NaN

In [62]:
df_aneel['municipiouf'] = df_aneel['municipiouf'].str.replace("Amparo da Serra \(MG\)", "Amparo do Serra (MG)")

C:\Users\Carlos\AppData\Local\Temp\ipykernel_18048\3147543050.py:1: FutureWarning: The default value of regex will change from True to False in a future version.
  df_aneel['municipiouf'] = df_aneel['municipiouf'].str.replace("Amparo da Serra \(MG\)", "Amparo do Serra (MG)")

In [63]:
df_aneel['municipiouf'] = df_aneel['municipiouf'].str.replace("Amparo de Sao Francisco \(SE\)", "Amparo do Sao Francisco (SE)")

C:\Users\Carlos\AppData\Local\Temp\ipykernel_18048\2356636735.py:1: FutureWarning: The default value of regex will change from True to False in a future version.
  df_aneel['municipiouf'] = df_aneel['municipiouf'].str.replace("Amparo de Sao Francisco \(SE\)", "Amparo do Sao Francisco (SE)")

In [64]:
df_aneel['municipiouf'] = df_aneel['municipiouf'].str.replace("Arez \(RN\)", "Ares (RN)")

C:\Users\Carlos\AppData\Local\Temp\ipykernel_18048\3619003071.py:1: FutureWarning: The default value of regex will change from True to False in a future version.
  df_aneel['municipiouf'] = df_aneel['municipiouf'].str.replace("Arez \(RN\)", "Ares (RN)")

In [65]:
df_aneel['municipiouf'] = df_aneel['municipiouf'].str.replace("Biritiba-Mirim \(SP\)", "Biritiba Mirim (SP)")

C:\Users\Carlos\AppData\Local\Temp\ipykernel_18048\1499363681.py:1: FutureWarning: The default value of regex will change from True to False in a future version.
  df_aneel['municipiouf'] = df_aneel['municipiouf'].str.replace("Biritiba-Mirim \(SP\)", "Biritiba Mirim (SP)")

In [66]:
df_aneel['municipiouf'] = df_aneel['municipiouf'].str.replace("Boa Saude \(RN\)", "Januario Cicco (RN)")

C:\Users\Carlos\AppData\Local\Temp\ipykernel_18048\3117309658.py:1: FutureWarning: The default value of regex will change from True to False in a future version.
  df_aneel['municipiouf'] = df_aneel['municipiouf'].str.replace("Boa Saude \(RN\)", "Januario Cicco (RN)")

In [67]:
df_aneel['municipiouf'] = df_aneel['municipiouf'].str.replace("Bom Jesus \(GO\)", "Bom Jesus de Goias (GO)")

C:\Users\Carlos\AppData\Local\Temp\ipykernel_18048\883898132.py:1: FutureWarning: The default value of regex will change from True to False in a future version.
  df_aneel['municipiouf'] = df_aneel['municipiouf'].str.replace("Bom Jesus \(GO\)", "Bom Jesus de Goias (GO)")

In [68]:
df_aneel['municipiouf'] = df_aneel['municipiouf'].str.replace("Couto de Magalhaes \(TO\)", "Couto Magalhaes (TO)")

C:\Users\Carlos\AppData\Local\Temp\ipykernel_18048\870595517.py:1: FutureWarning: The default value of regex will change from True to False in a future version.
  df_aneel['municipiouf'] = df_aneel['municipiouf'].str.replace("Couto de Magalhaes \(TO\)", "Couto Magalhaes (TO)")

In [69]:
df_aneel['municipiouf'] = df_aneel['municipiouf'].str.replace("Eldorado dos Carajas \(PA\)", "Eldorado do Carajas (PA)")

C:\Users\Carlos\AppData\Local\Temp\ipykernel_18048\2781604260.py:1: FutureWarning: The default value of regex will change from True to False in a future version.
  df_aneel['municipiouf'] = df_aneel['municipiouf'].str.replace("Eldorado dos Carajas \(PA\)", "Eldorado do Carajas (PA)")

In [70]:
df_aneel['municipiouf'] = df_aneel['municipiouf'].str.replace("Graccho Cardoso \(SE\)", "Gracho Cardoso (SE)")

C:\Users\Carlos\AppData\Local\Temp\ipykernel_18048\3661105652.py:1: FutureWarning: The default value of regex will change from True to False in a future version.
  df_aneel['municipiouf'] = df_aneel['municipiouf'].str.replace("Graccho Cardoso \(SE\)", "Gracho Cardoso (SE)")

In [71]:
df_aneel['municipiouf'] = df_aneel['municipiouf'].str.replace("Grao Para \(SC\)", "Grao-Para (SC)")

C:\Users\Carlos\AppData\Local\Temp\ipykernel_18048\1726073995.py:1: FutureWarning: The default value of regex will change from True to False in a future version.
  df_aneel['municipiouf'] = df_aneel['municipiouf'].str.replace("Grao Para \(SC\)", "Grao-Para (SC)")

In [72]:
df_aneel['municipiouf'] = df_aneel['municipiouf'].str.replace("Iguaraci \(PE\)", "Iguaracy (PE)")

C:\Users\Carlos\AppData\Local\Temp\ipykernel_18048\92216801.py:1: FutureWarning: The default value of regex will change from True to False in a future version.
  df_aneel['municipiouf'] = df_aneel['municipiouf'].str.replace("Iguaraci \(PE\)", "Iguaracy (PE)")

In [73]:
df_aneel['municipiouf'] = df_aneel['municipiouf'].str.replace("Lagoa do Itaenga \(PE\)", "Lagoa de Itaenga (PE)")

C:\Users\Carlos\AppData\Local\Temp\ipykernel_18048\13057743.py:1: FutureWarning: The default value of regex will change from True to False in a future version.
  df_aneel['municipiouf'] = df_aneel['municipiouf'].str.replace("Lagoa do Itaenga \(PE\)", "Lagoa de Itaenga (PE)")

In [74]:
df_aneel['municipiouf'] = df_aneel['municipiouf'].str.replace("Muquem de Sao Francisco \(BA\)", "Muquem do Sao Francisco (BA)")

C:\Users\Carlos\AppData\Local\Temp\ipykernel_18048\1398161310.py:1: FutureWarning: The default value of regex will change from True to False in a future version.
  df_aneel['municipiouf'] = df_aneel['municipiouf'].str.replace("Muquem de Sao Francisco \(BA\)", "Muquem do Sao Francisco (BA)")

In [75]:
df_aneel['municipiouf'] = df_aneel['municipiouf'].str.replace("Olho-d'Agua do Borges \(RN\)", "Olho d'Agua do Borges (RN)")

C:\Users\Carlos\AppData\Local\Temp\ipykernel_18048\50318477.py:1: FutureWarning: The default value of regex will change from True to False in a future version.
  df_aneel['municipiouf'] = df_aneel['municipiouf'].str.replace("Olho-d'Agua do Borges \(RN\)", "Olho d'Agua do Borges (RN)")

In [76]:
df_aneel['municipiouf'] = df_aneel['municipiouf'].str.replace("Olhos d'Agua \(MG\)", "Olhos-d'Agua (MG)")

C:\Users\Carlos\AppData\Local\Temp\ipykernel_18048\1921182793.py:1: FutureWarning: The default value of regex will change from True to False in a future version.
  df_aneel['municipiouf'] = df_aneel['municipiouf'].str.replace("Olhos d'Agua \(MG\)", "Olhos-d'Agua (MG)")

In [77]:
df_aneel['municipiouf'] = df_aneel['municipiouf'].str.replace("Pindare Mirim \(MA\)", "Pindare-Mirim (MA)")

C:\Users\Carlos\AppData\Local\Temp\ipykernel_18048\2069173247.py:1: FutureWarning: The default value of regex will change from True to False in a future version.
  df_aneel['municipiouf'] = df_aneel['municipiouf'].str.replace("Pindare Mirim \(MA\)", "Pindare-Mirim (MA)")

In [78]:
df_aneel['municipiouf'] = df_aneel['municipiouf'].str.replace("Santa Isabel do Para \(PA\)", "Santa Izabel do Para (PA)")

C:\Users\Carlos\AppData\Local\Temp\ipykernel_18048\900202196.py:1: FutureWarning: The default value of regex will change from True to False in a future version.
  df_aneel['municipiouf'] = df_aneel['municipiouf'].str.replace("Santa Isabel do Para \(PA\)", "Santa Izabel do Para (PA)")

In [79]:
df_aneel['municipiouf'] = df_aneel['municipiouf'].str.replace("Santa Rita do Ibitipoca \(MG\)", "Santa Rita de Ibitipoca (MG)")

C:\Users\Carlos\AppData\Local\Temp\ipykernel_18048\4096808129.py:1: FutureWarning: The default value of regex will change from True to False in a future version.
  df_aneel['municipiouf'] = df_aneel['municipiouf'].str.replace("Santa Rita do Ibitipoca \(MG\)", "Santa Rita de Ibitipoca (MG)")

In [80]:
df_aneel['municipiouf'] = df_aneel['municipiouf'].str.replace("Santa Teresinha \(BA\)", "Santa Terezinha (BA)")

C:\Users\Carlos\AppData\Local\Temp\ipykernel_18048\50515394.py:1: FutureWarning: The default value of regex will change from True to False in a future version.
  df_aneel['municipiouf'] = df_aneel['municipiouf'].str.replace("Santa Teresinha \(BA\)", "Santa Terezinha (BA)")

In [81]:
df_aneel['municipiouf'] = df_aneel['municipiouf'].str.replace("Santana do Livramento \(RS\)", "Sant'Ana do Livramento (RS)")

C:\Users\Carlos\AppData\Local\Temp\ipykernel_18048\29715431.py:1: FutureWarning: The default value of regex will change from True to False in a future version.
  df_aneel['municipiouf'] = df_aneel['municipiouf'].str.replace("Santana do Livramento \(RS\)", "Sant'Ana do Livramento (RS)")

In [82]:
df_aneel['municipiouf'] = df_aneel['municipiouf'].str.replace("Sao Thome das Letras \(MG\)", "Sao Tome das Letras (MG)")

C:\Users\Carlos\AppData\Local\Temp\ipykernel_18048\329683094.py:1: FutureWarning: The default value of regex will change from True to False in a future version.
  df_aneel['municipiouf'] = df_aneel['municipiouf'].str.replace("Sao Thome das Letras \(MG\)", "Sao Tome das Letras (MG)")

In [83]:
df_aneel['municipiouf'] = df_aneel['municipiouf'].str.replace("Sao Valerio da Natividade \(TO\)", "Sao Valerio (TO)")

C:\Users\Carlos\AppData\Local\Temp\ipykernel_18048\1173815682.py:1: FutureWarning: The default value of regex will change from True to False in a future version.
  df_aneel['municipiouf'] = df_aneel['municipiouf'].str.replace("Sao Valerio da Natividade \(TO\)", "Sao Valerio (TO)")

In [84]:
df_aneel['municipiouf'] = df_aneel['municipiouf'].str.replace("Sem Peixe \(MG\)", "Sem-Peixe (MG)")

C:\Users\Carlos\AppData\Local\Temp\ipykernel_18048\1484493461.py:1: FutureWarning: The default value of regex will change from True to False in a future version.
  df_aneel['municipiouf'] = df_aneel['municipiouf'].str.replace("Sem Peixe \(MG\)", "Sem-Peixe (MG)")

In [85]:
df_aneel['municipiouf'] = df_aneel['municipiouf'].str.replace("Silverania \(MG\)", "Silveirania (MG)")

C:\Users\Carlos\AppData\Local\Temp\ipykernel_18048\4258475295.py:1: FutureWarning: The default value of regex will change from True to False in a future version.
  df_aneel['municipiouf'] = df_aneel['municipiouf'].str.replace("Silverania \(MG\)", "Silveirania (MG)")

In [86]:
lista_municipios_aneel_format = df_aneel['municipiouf'].unique()
lista_municipios_aneel_format

array(['Nova Granada (SP)', 'Rio Branco (AC)', 'Tarauaca (AC)', ...,
       'Juarina (TO)', 'Centenario (TO)', 'Chapada de Areia (TO)'],
      dtype=object)

In [87]:
df_municipio_aneel_format = pd.DataFrame({'nome': lista_municipios_aneel_format})
df_municipio_aneel_format

                             nome
0               Nova Granada (SP)
1                 Rio Branco (AC)
2                   Tarauaca (AC)
3           Senador Guiomard (AC)
4                  Brasileia (AC)
...                           ...
5527  Sao Bento do Tocantins (TO)
5528    Itapora do Tocantins (TO)
5529                 Juarina (TO)
5530              Centenario (TO)
5531        Chapada de Areia (TO)

[5532 rows x 1 columns]

In [88]:
municipios_join_format = df_ibge['Municipio'].isin(df_municipio_aneel_format['nome'])

In [89]:
municipios_join_format.describe()

count     5570
unique       2
top       True
freq      5532
Name: Municipio, dtype: object

In [90]:
municipios_final2 = df_municipio_aneel_format.merge(df_ibge, left_on='nome', right_on='Municipio',how='outer')

In [91]:
municipios_final2.sort_values(by='nome', na_position='last', inplace=True)
municipios_final2

,nome,Municipio,Populacao,Domicilios,UF,Regiao
885,Abadia de Goias (GO),Abadia de Goias (GO),19128,7866,GO,Centro Oeste
1901,Abadia dos Dourados (MG),Abadia dos Dourados (MG),6272,3477,MG,Sudeste
927,Abadiania (GO),Abadiania (GO),17228,10301,GO,Centro Oeste
1460,Abaete (MG),Abaete (MG),22675,12156,MG,Sudeste
2408,Abaetetuba (PA),Abaetetuba (PA),158188,51416,PA,Norte
...,...,...,...,...,...,...
5565,NaN,Nazaria (PI),10262,4974,PI,Nordeste
5566,NaN,Pau d'Arco do Piaui (PI),3880,1908,PI,Nordeste
5567,NaN,Areia de Baraunas (PB),2005,932,PB,Nordeste
5568,NaN,Pescaria Brava (SC),10190,4422,SC,Sul
5569,NaN,Balneario Rincao (SC),15981,15712,SC,Sul

In [92]:
municipios_final2.sort_values(by='Municipio', na_position='last', inplace=True)
municipios_final2

,nome,Municipio,Populacao,Domicilios,UF,Regiao
885,Abadia de Goias (GO),Abadia de Goias (GO),19128,7866,GO,Centro Oeste
1901,Abadia dos Dourados (MG),Abadia dos Dourados (MG),6272,3477,MG,Sudeste
927,Abadiania (GO),Abadiania (GO),17228,10301,GO,Centro Oeste
1460,Abaete (MG),Abaete (MG),22675,12156,MG,Sudeste
2408,Abaetetuba (PA),Abaetetuba (PA),158188,51416,PA,Norte
...,...,...,...,...,...,...
257,Xique-Xique (BA),Xique-Xique (BA),44757,18031,BA,Nordeste
2633,Zabele (PB),Zabele (PB),2228,1283,PB,Nordeste
5229,Zacarias (SP),Zacarias (SP),2692,1617,SP,Sudeste
1212,Ze Doca (MA),Ze Doca (MA),40801,16234,MA,Nordeste
4630,Zortea (SC),Zortea (SC),3930,1770,SC,Sul

### Conversão dos DataFrames para Tabelas CSV

In [94]:
saida_csv_ibge = 'C:/Users/Carlos/Desktop/municipios_brasil_format2.csv'
df_ibge.to_csv(saida_csv_ibge, index=False)

In [95]:
saida_csv_aneel = 'C:/Users/Carlos/Desktop/energia_distribuida_brasil_format2.csv'
df_aneel.to_csv(saida_csv_aneel, index=False)

### OBS: Processo segue com modelagem de dados sendo feita no PostgreSQL.